* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.block1,
.block2 {
  width: 15%;
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
}

section.left {
  width: 45%;
  background-image: url(halie-west-unsplash.jpeg);
  background-size: cover;
  background-position: 35%;
}

div.logo {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 75vh;
}

div.logo-background {
  display: flex;
  background-color: rgba(34, 33, 33, 0.558);
  width: 100%;
  height: 20%;
  justify-content: center;
}

.img-and-name {
  display: flex;
  justify-content: center;
  align-self: center;
}

div.logo-background > .img-and-name > img {
  height: 70px;
  width: 60px;
}

div.logo-background > div.img-and-name > p {
  font-family: "Norse", sans-serif;
  color: white;
  font-size: 60px;
  align-self: center;
  margin-top: 12px;
}

footer.copyright {
  color: white;
  align-self: center;
  font-size: 8px;
}

a {
  color: white;
  text-decoration: underline;
}

section.right > .description {
  margin-top: 6.5rem;
  width: 85%;
  font-weight: 900;
  margin-left: 20px;
}

.description > p:nth-child(3) {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

form {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 1px 10px 0px rgba(128, 128, 128, 0.431);
}

label,
input,
button {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

legend {
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: 800;
}

fieldset > div {
  display: flex;
}

.section1,
.section2,
.section3 {
  display: flex;
}

.section1 > div:nth-child(2),
.section2 > div:nth-child(2),
.section3 > div:nth-child(2) {
  margin-left: 3rem;
}

.section1,
.section2,
.section3 {
  margin-bottom: 10px;
}

label {
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: rgb(43, 42, 42);
  text-transform: uppercase;
}

.submit-form {
  padding: 20px;
  margin-top: 10px;
}

button {
  width: 30%;
  padding: 8px;
  background-color: rgb(79, 116, 21);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 800;
}

div.submit-form > p {
  margin-top: 25px;
  font-size: 13px;
}

p > span {
  color: rgb(79, 116, 21);
  font-weight: 900;
}
