* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.block1,
.block2 {
  width: 25%;
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
}

section.left {
  width: 25%;
}

.description {
  margin-top: 5rem;
}

.description > p:nth-child(3) {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

form {
  width: 100%;
  padding: 20px;
  box-shadow: 0px 1px 10px 0px rgba(128, 128, 128, 0.431);
}

legend {
  margin-top: -5px;
  margin-bottom: 10px;
}

.submit-form {
  padding: 20px;
  margin-top: 10px;
}

label,
input,
button {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

fieldset > div {
  display: flex;
}

button {
  width: 35%;
  padding: 8px;
}

.section1,
.section2,
.section3 {
  display: flex;
}

.section1 > div:nth-child(2),
.section2 > div:nth-child(2),
.section3 > div:nth-child(2) {
  margin-left: 3rem;
}
